# Configuration Serveur
PORT=8080

# Configuration Base de données
DB_HOST=localhost
DB_PORT=5432
DB_NAME=agency_db
DB_USER=postgres
DB_PASSWORD=secret

# URLs externes
AGENCY_DASHBOARD_URL=http://localhost:8081/api/events
AGENCY_DASHBOARD_TIMEOUT=5000
EXTERNAL_BACKEND_URL=http://localhost:8081/api/events
EXTERNAL_BACKEND_TIMEOUT=5000

# CORS (À mettre à jour avec le nom de domaine fourni par le prof)
ALLOWED_ORIGINS=http://localhost:5173,https://ton-futur-domaine.com